
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="/Scripts/angular.min.js"></script>
}



<div class="container-fluid" ng-app="myApp" ng-controller="mycontrol">
    <h2>Get data by angularJS</h2>
    {{data}}
</div>

@section scripts 
{
    <script>
        var myApp = angular.module("myApp", []);
        myApp.controller("mycontrol", mycontrol);
        function mycontrol($scope, $http) {
            $http.get("/data.txt").then(function (res) {
                $scope.data = res.data;
            });
        }
    </script>    
    
}